<form>
	<fieldset>
		<label for="name">Transporte</label> 
		<input type="text" name="transporte" id="transporte" value="" class="text ui-widget-content ui-corner-all">
		<label for="name">Km.nacionales</label> 
		<input type="text" name="kmnacionales" id="kmnacionales" value="" class="text ui-widget-content ui-corner-all">
		<label for="name">Km.totales</label> 
		<input type="text" name="kmtotales" id="kmtotales" value="" class="text ui-widget-content ui-corner-all">
	</fieldset>
	<div class="pull-right">
		<a class="btn btn-success calcular" role="button">Calcular</a>
	</div>

</form>
