
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				&times;<span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title">{{title}}</h4>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger pull-left confirm"
				data-dismiss="modal">{{button1}}</button>
			<button type="button" class="btn btn-default discard" data-dismiss="modal">{{button2}}</button>
		</div>
	</div>
</div>
