<div style="background-color: #d3d7cf; padding: 10px; padding-bottom: 40px;">
<div class="page-header">
	<h3>Mantenimiento de partida</h3>
</div>
<div>
    <form class="form-horizontal" role="form">
    	<div class="row">
    		<div class="col-md-3">
            	<fieldset>
            	<legend style="margin: 0px; padding-top: 10px">Flujo</legend>
            	<div class="form-group" style="margin: 0px">
            	<label class="control-label" >Flujo</label>
				<div class="radio">
				  <label><input type="radio" class="flujo" value="I" name="flujo">Introducción</label>
				</div>
				<div class="radio">
				  <label><input type="radio" class="flujo" value="E" name="flujo">Expedición</label>
				</div>
                <span class="help-block hidden"></span>
                </div>
				</fieldset>
    		</div>
    		<div class="col-md-3">
            	<fieldset>
            	<legend style="margin: 0px; padding-top: 10px">Código</legend>
            	<div class="form-group" style="margin: 0px">
            	<label class="control-label" >Código</label>
            	<input type="text" name="codigo" id="codigo" class="form-control" value="{{model.codigo}}" placeholder="Introducir código"/>
                <span class="help-block hidden"></span>
                </div>
				</fieldset>
    		</div>
    	</div>
    	<div class="row">
            <div class="col-md-10">
            	<fieldset>
            	<legend style="margin: 0px; padding-top: 10px">Régimen estadístico</legend>
	            	<div class="form-group" style="margin: 0px">
	            	<label class="control-label" >Régimen estadístico</label>
	                <select type="text" class="form-control" value="{{model.regimen}}" id="regimen" name="regimen">
	                   	<option selected="true" value="-1">-- Seleccionar régimen --</option>
	                </select>
	                <span class="help-block hidden"></span>
	                </div>
                </fieldset>
             </div>
         </div>
         <div class="row">
            <div class="col-md-6">
            	<fieldset>
	            	<legend style="margin: 0px; padding-top: 10px">Partida</legend>
	            	<div class="form-group" style="margin: 0px">
		            <label class="control-label" >Proveedor</label>
	                <select id="proveedor" name="proveedor" class="form-control">
	                	<option selected="true" value="-1">-- Seleccionar proveedor --</option>
	                </select>
	                <span class="help-block hidden"></span>
	                </div>
	            	<div class="form-group" style="margin: 0px">
		            <label class="control-label" >Fecha</label>
	                <input type="date" class="datepicker form-control" value="{{model.fecha}}" id="fecha" name="fecha" placeholder="Introducir fecha"/>
	                <span class="help-block hidden"></span>
	                </div>
	                <div class="form-group" style="margin: 0px">
		            <label class="control-label" >Transporte</label>
	                <select id="transporte" name="transporte" class="form-control">
	                	<option selected="true" value="-1">-- Seleccionar transporte --</option>
	                </select>
	                <span class="help-block hidden"></span>
	                </div>
		    	</fieldset>
		    </div>
            <div class="col-md-3">
	           	<fieldset>
			    	<legend style="margin: 0px; padding-top: 10px">Origen / Destino</legend>
	            	<div class="form-group" style="margin: 0px">
		         	<label class="control-label" >Pais procedencia/destino</label>
	 			  	<div id="pais" class="form-control selectbox"><span class="pais-default">-- Seleccionar pais  --</span><span class="caret pull-right"></span></div>
				  	<ul class="dropdown-paises dropdown" name="pais">
				  	</ul>
	              	<span class="help-block hidden"></span>
	              	</div>
	              	<div class="form-group" style="margin: 0px">
		            <label class="control-label" >Provincia procedencia/destino</label>
	                <select id="provincia" name="provincia" class="form-control">
	                	<option selected="true" value="-1">-- Seleccionar provincia --</option>
	                </select>
	                <span class="help-block hidden"></span>
	                </div>
	            	<div class="form-group" style="margin: 0px">
		         	<label class="control-label" >Pais origen</label>
	 			  	<div id="pais_origen" class="form-control selectbox"><span class="pais-default">-- Seleccionar pais  --</span><span class="caret pull-right"></span></div>
				  	<ul class="dropdown-paises dropdown" name="pais_origen">
				  	</ul>
	              	<span class="help-block hidden"></span>
	              	</div>
				</fieldset>
			</div>
        </div>
        <div class="row">
            <div class="col-md-6">
            	<fieldset>
            	<legend style="margin: 0px; padding-top: 10px">Entrega</legend>
            	<div class="form-group" style="margin: 0px">
            	<label class="control-label" for="entrega">Entrega:</label>
                <select type="text" class="form-control" value="{{model.entrega}}" id="entrega" name="entrega">
                	<option selected="true" value="-1">-- Seleccionar entrega --</option>
                    <option value="EXW">EXW - En Fábrica</option>
                    <option value="FCA">FCA - Franco transportista</option>
                    <option value="FAS">FAS - Franco al costado del buque</option>
                    <option value="FOB">FOB - Franco a Bordo</option>
                    <option value="CFR">CFR - Coste y flete (C&F)</option>
                    <option value="CIF">CIF - Coste seguro y flete</option>
                    <option value="CPT">CPT - Porte pagado hasta punto de destino</option>
                    <option value="CIP">CIP - Porte pagado + seguro hasta punto de destino incl.</option>
                    <option value="DAF">DAF - Franco frontera</option>
                    <option value="DES">DES - Franco (ex ship)</option>
                    <option value="DEQ">DEQ - Franco sobre muelle</option>
                    <option value="DDU">DDU - Franco sin despachar en aduana</option>
                    <option value="DDP">DDP - Franco despacho en aduana</option>
                    <option value="XXX">XXX - Otras condiciones distintas</option>
                </select>
                <span class="help-block hidden"></span>
                </div>
                </fieldset>
            </div>
            <div class="col-md-6">
            	<fieldset>
            	<legend style="margin: 0px; padding-top: 10px">Naturaleza transacción</legend>
            	<div class="form-group" style="margin: 0px">
            	<label class="control-label">Transaccion</label>
                <select type="text" class="form-control" value="{{model.transaccion}}" id="transaccion" name="transaccion">
                	<option selected="true" value="-1">-- Seleccionar transaccion --</option>
                </select>
                <span class="help-block hidden"></span>
                </div>
                </fieldset>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
        </div>
	  	<div class="pull-right">
			<a class="btn btn-success save" role="button">Guardar</a>
	  	</div>
        
    </form>
</div>
<div>
    <table id="tb_materiales" class="table">
        <thead>
        <tr>
            <th class="col-md-1">id</th>
            <th class="col-md-5">categoria</th>
            <th class="col-md-1">importe</th>
            <th class="col-md-1">peso</th>
            <th class="col-md-1">unidades</th>
            <th class="col-md-1">sunit</th>
            <th class="col-md-1">sunitDesc</th>
            <th class="col-md-1">accion</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div>
       <button class="btn addMat">  
           <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Nuevo registro
       </button>
    </div>
</div>
</div>

