<td>
    <div>
		<input id="id" class="form-control" readonly="true" value="{{model.id}}"/>
	</div>
</td>
<td>
    <div>
        <select class="form-control nomen" id="nomenclature" placeholder="seleccionar nomenclature" title="xxx">
            <option selected="true" value="-1">-- Seleccionar nomenclature --</option>
        </select>
    </div>
</td>
<td>
    <div>
    	<input type="number" pattern="(\d{3})([\.])(\d{2})" id="importe" class="form-control"  value="{{model.importe}}" placeholder="Introducir importe"/>
    </div>
<td>
    <div>
    	<input id="peso" class="form-control" value="{{model.peso}}" placeholder="Introducir peso"/>
    </div>
</td>
<td>
    <div>
    	<input id="unidades" class="form-control" value="{{model.unidades}}" placeholder="Introducir unidades"/>
    </div>
</td>
<td>
    <div>
    	<input id="sunit" class="form-control ttip" value="{{model.sunit}}" readonly="true"/>
    </div>
</td>
<td>
    <div>
    	<input id="sunitDesc" class="form-control ttip" value="{{model.sunitDesc}}" title="{{model.sunitDesc}}" readonly="true"/>
    </div>
</td>
<td>
    <div>
    	<input type="number" pattern="(\d{3})([\.])(\d{2})" id="vestadistico" class="form-control ttip" value="{{model.vestadistico}}" title="{{model.vestadistico}}" />
    </div>
</td>
<td>
    <div>
	    <button class="btn calculadora">
	        <span class="glyphicon glyphicon-recycle"></span>&nbsp;&nbsp;V.Estad{{index}}
	    </button>
    </div>
</td>
<td>
    <div>
	    <button class="btn delete">
	        <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete{{index}}
	    </button>
    </div>
</td>
