<div style="background-color: #d3d7cf; padding: 10px; padding-bottom: 40px;">
<div class="page-header">
	<h3>Account</h3>
</div>
<div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" >Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{user.firstName}}" id="firstname" placeholder="Introducir nombre"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{user.lastName}}" id="lastname" placeholder="Introducir apellidos"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Username:</label>
            <div class="col-sm-10">
                <input readonly="true" type="text" class="form-control" value="{{userName}}" id="username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Fecha activación:</label>
            <div class="col-sm-10">
                <input readonly="true" type="date" class="form-control" value="{{activated}}" id="activated" />
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
        </div>
	  	<div class="pull-right">
			<a class="btn btn-success save" role="button">Guardar</a>
	  	</div>
        
    </form>
</div>
</div>
