<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h3 class="panel-title">Partidas</h3>
  </div>
  <div class="panel-heading">
  	<form class="form-horizontal" role="form">
    	<div class="row">
    		<div class="col-md-2">
            	<fieldset>
            	<div class="form-group" style="margin: 0px">
            	<label class="control-label" >Flujo</label>
				<div class="radio">
				  <label><input type="radio" class="flujo" value="I" name="flujo">Introduccion</label>
				</div>
				<div class="radio">
				  <label><input type="radio" class="flujo" value="E" name="flujo">Expedicion</label>
				</div>
				<div class="radio">
				  <label><input type="radio" checked="true" class="flujo" value="X" name="flujo">Todos</label>
				</div>
                <span class="help-block hidden"></span>
                </div>
				</fieldset>
    		</div>
    		<div class="col-md-2">
            	<fieldset>
            	<div class="form-group" style="margin: 0px">
            	<label class="control-label" >Presentado</label>
				<div class="radio">
				  <label><input type="radio" class="present" value="S" name="present">Si</label>
				</div>
				<div class="radio">
				  <label><input type="radio" class="present" value="N" name="present">No</label>
				</div>
				<div class="radio">
				  <label><input type="radio" checked="true" class="present" value="X" name="present">Todos</label>
				</div>
                <span class="help-block hidden"></span>
                </div>
				</fieldset>
    		</div>
    		<div class="col-md-2">
            	<fieldset>
            	<div class="form-group" style="margin: 0px">
	            	<div class="form-group" style="margin: 0px">
		            <label class="control-label" >Fecha inicial</label>
	                <input type="date" class="datepicker form-control" value="" id="fechaIni" name="fechaIni" placeholder="Introducir fecha inicial"/>
	                <span class="help-block hidden"></span>
	                </div>
	            	<div class="form-group" style="margin: 0px">
		            <label class="control-label" >Fecha final</label>
	                <input type="date" class="datepicker form-control" value="" id="fechaFin" name="fechaFin" placeholder="Introducir fecha final"/>
	                <span class="help-block hidden"></span>
	                </div>
				</fieldset>
    		</div>
    		<div class="col-md-4">
            	<fieldset>
            	   	<div class="form-group" style="margin: 0px">
            	   	<label class="control-label" >Código</label>
	            	<input type="text" name="codigo" id="codigo" class="form-control" value="" placeholder="Introducir código"/>
	                </div>
	            	<div class="form-group" style="margin: 0px">
		            <label class="control-label" >Proveedor</label>
	                <select id="proveedor" name="proveedor" class="form-control">
	                	<option selected="true" value="-1">-- Seleccionar proveedor --</option>
	                </select>
	                </div>
				</fieldset>
		  	</div>
    		<div class="col-md-2">
            	<fieldset>
	            	<div class="form-group" style="margin: 0px">
		            <label class="control-label" ></label>
					<a class="btn btn-success filter" href="#" role="button">Filtrar</a>
	                </div>
            	</fieldset>
            </div>
		</form>
	</div>
  </div>
  <div class="panel-body">  
    <table class="table">
    	<thead>
    	<th>#</th>
    	<th>codigo</th>
    	<th>proveedor</th>
    	<th>entrega</th>
    	<th>fecha</th>
    	</thead>
    	<tbody></tbody>
    </table>
  </div>
</div>
