<div class="container well">
    <div class="row">

        <div class="jumbotron">
        

        <img src="resources/img/intrastat2.jpg" width="90%" align="middle"/> 
        <p><h1 class="special-title">Presentar la declaración 2015.</h1></p>
        <p>
             Estadísticas de tráfico de mercancías entre los países de la Unión Europea.
        </p>

    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <h3 class="page-header"><img src="resources/img/intrastat1.jpg" width="90%"/>Códigos CN8 o nomenclatura combinada</h3>

                <p>Los códigos INTRASTAT CN8 o nomenclatura combinada es la clasificación usada en la Unión Europea para recoger y procesar datos de comercio exterior</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="">
                <h3 class="page-header"><img src="resources/img/intrastat3.jpg" width="90%"/> Registro de facturas</h3>

                <p>Introducción de facturas.</p>
            </div>
        </div>
    </div>
</div>
