<form>
	<fieldset>
		<label for="name">Username</label> <input type="text" name="username"
			id="username" value="phamtranquocviet"
			class="text ui-widget-content ui-corner-all">
		<div class='clear-both vertical-spacer' />
		<label for="password">Password</label> <input type="password"
			name="password" id="password" value="xxxxxxx"
			class="text ui-widget-content ui-corner-all">
	</fieldset>
	<div class="pull-right">
		<a class="btn btn-success confirm" role="button">Confirmar</a>
	</div>

</form>
