<!--
The main layout of the page - contains the menu and the 'content' &lt;div/&gt; in which
all the
views will render the content.
-->


<div id="logo"><div class="wrap"><h1>Intrastat</h1></div></div>
<div id="container">
	<div id="menu">
		<div class="navbar">
		<!-- Toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#navbar-items">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling  -->
			<div id="navbar-items" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			<li><a href="#about">About</a></li>
			<li><a href="#nomenclatures">Nomenclaturas</a></li>
			<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proveedores <span class="caret"></span></a>
          		<ul class="dropdown-menu">
            		<li><a href="#proveedores">Consultar/Modificar</a></li>
            		<li><a href="#addProveedor">Nueva alta</a></li>
        		</ul>
       		</li>			
			<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partidas <span class="caret"></span></a>
          		<ul class="dropdown-menu">
            		<li><a href="#partidas">Consultar/Modificar</a></li>
            		<li><a href="#addFactura">Nueva alta</a></li>
        		</ul>
       		</li>			
			<li><a href="#report">Excel report</a></li>
			<li><a href="#export">CSV export</a></li>
			<li><a href="#register">Register</a></li>
			<li><a href="#signin">Sign in</a></li>
			<li><a href="#admin">Admin</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div id="content" class="container">
	</div>
</div>

<footer style="">
	<div style="text-align: center;"><img src="resources/img/rhjb_eap_logo.png"	alt="HTML5"/></div>
</footer>
